{% extends 'fileudapp/base.html' %}
{% load crispy_forms_tags %}

{% block page-content %}

    <div class="container">
        <div class="card card-login mx-auto mt-5 bg-light">
        <div class="card-header text-center">
            <img class="mb-4" src="https://lh3.googleusercontent.com/proxy/WA3cqc9X1X9FnAvWfJOVPZAg0FPfUQSzVpvx1m_tt0YzO_rpSNeEVC3Zz5IIEx6W5psWDA2o2Aqgyr2OXf-8Ln1-X0VemhJbaNmsV_Ci1wuhjjcugLksvnSDwkDcHp9Nlw" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        </div>
        <form class="form-signin card-body" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {% for field in form %}
                {% include 'field.html' %}
            {% endfor %}
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me">Relembrar
            </label>
          </div>
          <button class="btn btn-lg btn-dark btn-block" type="submit">Entrar</button>
            <a class="small text-danger" href="{% url 'password_reset' %}">Esqueci a senha</a>
          <p class="mt-5 mb-3 text-muted">&copy; Messias Martins</p>
        </form>
        </div>
  </div>
{% endblock %}