{% extends 'fileudapp/base.html' %}

{% block page-content %}

    {% if validlink %}
        <h3 class="login-heading mb-4">Alteração de senha</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include 'field.html' %}
            {% endfor %}
            <div class="container" align="left">
                <a href="#"><button type="submit" class="btn btn-primary">Salvar</button></a>
            </div>
        </form>
    {% else %}
        <p>
            O link de redefinição de senha era inválido, possivelmente porque já foi usado.
            Solicite uma nova redefinição de senha.
        </p>
    {% endif %}
{% endblock %}